packages/System.Security.Cryptography.X509Certificates.4.3.2/ref/MonoTouch10/_._
packages/System.Security.Cryptography.X509Certificates.4.3.2/ref/MonoAndroid10/_._
packages/System.Security.Cryptography.X509Certificates.4.3.2/lib/xamarinwatchos10/_._
packages/System.Security.Cryptography.X509Certificates.4.3.2/lib/xamarintvos10/_._
packages/System.Security.Cryptography.X509Certificates.4.3.2/lib/xamarinmac20/_._
packages/System.Security.Cryptography.X509Certificates.4.3.2/lib/xamarinios10/_._
packages/System.Security.Cryptography.X509Certificates.4.3.2/lib/MonoTouch10/_._
packages/System.Security.Cryptography.X509Certificates.4.3.2/lib/MonoAndroid10/_._
packages/System.Security.Cryptography.X509Certificates.4.3.2/dotnet_library_license.txt
packages/System.Security.Cryptography.X509Certificates.4.3.2/ThirdPartyNotices.txt
packages/System.Security.Cryptography.X509Certificates.4.3.2/System.Security.Cryptography.X509Certificates.4.3.2.nupkg
packages/System.Security.Cryptography.Primitives.4.3.0/ref/xamarinwatchos10/_._
packages/System.Security.Cryptography.Primitives.4.3.0/ref/xamarintvos10/_._
packages/System.Security.Cryptography.Primitives.4.3.0/ref/xamarinmac20/_._
packages/System.Security.Cryptography.Primitives.4.3.0/ref/xamarinios10/_._
packages/System.Security.Cryptography.Primitives.4.3.0/ref/MonoTouch10/_._
packages/Newtonsoft.Json.11.0.2/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/Newtonsoft.Json.11.0.2.nupkg
packages/Newtonsoft.Json.11.0.2/LICENSE.md
packages/Google.Apis.Sheets.v4.1.32.2.1176/lib/netstandard1.3/Google.Apis.Sheets.v4.xml
packages/Google.Apis.Sheets.v4.1.32.2.1176/lib/netstandard1.0/Google.Apis.Sheets.v4.xml
packages/Google.Apis.Sheets.v4.1.32.2.1176/lib/net45/Google.Apis.Sheets.v4.xml
packages/Google.Apis.Sheets.v4.1.32.2.1176/lib/net40/Google.Apis.Sheets.v4.xml
packages/Google.Apis.Sheets.v4.1.32.2.1176/Google.Apis.Sheets.v4.1.32.2.1176.nupkg
packages/Google.Apis.Drive.v3.1.32.2.1170/lib/netstandard1.3/Google.Apis.Drive.v3.xml
packages/Google.Apis.Drive.v3.1.32.2.1170/lib/netstandard1.0/Google.Apis.Drive.v3.xml
packages/Google.Apis.Drive.v3.1.32.2.1170/lib/net45/Google.Apis.Drive.v3.xml
packages/Google.Apis.Drive.v3.1.32.2.1170/lib/net40/Google.Apis.Drive.v3.xml
packages/Google.Apis.Drive.v3.1.32.2.1170/Google.Apis.Drive.v3.1.32.2.1170.nupkg
packages/Google.Apis.Core.1.32.2/lib/netstandard1.3/Google.Apis.Core.xml
packages/Google.Apis.Core.1.32.2/lib/net45/Google.Apis.Core.xml
GDrive/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
GDrive/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
GDrive/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
GDrive/obj/Debug/GDrive.csproj.FileListAbsolute.txt
GDrive/obj/Debug/GDrive.csproj.CopyComplete
GDrive/client_secret_1.json
GDrive/bin/sheetsCreds.json/Google.Apis.Auth.OAuth2.Responses.TokenResponse-user
GDrive/bin/Debug/sheetsCreds.json/Google.Apis.Auth.OAuth2.Responses.TokenResponse-user
GDrive/bin/Debug/sheetId.txt
GDrive/bin/Debug/client_secret_.json
GDrive/bin/Debug/RigLauncher.exe.config
GDrive/bin/Debug/Newtonsoft.Json.xml
GDrive/bin/Debug/Google.Apis.xml
GDrive/bin/Debug/Google.Apis.Sheets.v4.xml
GDrive/bin/Debug/Google.Apis.Drive.v3.xml
GDrive/bin/Debug/Google.Apis.Core.xml
GDrive/bin/Debug/Google.Apis.Auth.xml
GDrive/Properties/app.manifest
GDrive/Properties/AssemblyInfo.cs
.vs/GDrive/v15/sqlite3/storage.ide
.vs/GDrive/v15/Server/sqlite3/storage.ide-wal
.vs/GDrive/v15/Server/sqlite3/storage.ide-shm
.vs/GDrive/v15/Server/sqlite3/storage.ide
.vs/GDrive/v15/Server/sqlite3/db.lock
packages/System.Net.Http.4.3.3/ref/net45/_._
packages/System.Net.Http.4.3.3/ref/monotouch10/_._
packages/System.Net.Http.4.3.3/ref/monoandroid10/_._
packages/System.Net.Http.4.3.3/ref/Xamarinmac20/_._
packages/System.Net.Http.4.3.3/lib/xamarinwatchos10/_._
packages/System.Net.Http.4.3.3/lib/xamarintvos10/_._
packages/System.Net.Http.4.3.3/lib/xamarinios10/_._
packages/System.Net.Http.4.3.3/lib/wpa81/_._
packages/System.Net.Http.4.3.3/lib/win8/_._
packages/System.Net.Http.4.3.3/lib/portable-net45+win8+wpa81/_._
packages/System.Net.Http.4.3.3/lib/net45/_._
packages/System.Net.Http.4.3.3/lib/monotouch10/_._
packages/System.Net.Http.4.3.3/lib/monoandroid10/_._
packages/System.Net.Http.4.3.3/lib/Xamarinmac20/_._
packages/System.Net.Http.4.3.3/dotnet_library_license.txt
packages/System.Net.Http.4.3.3/ThirdPartyNotices.txt
packages/Newtonsoft.Json.11.0.2/lib/net40/Newtonsoft.Json.xml
packages/Google.Apis.Core.1.32.2/Google.Apis.Core.1.32.2.nupkg
packages/Google.Apis.Auth.1.32.2/lib/netstandard1.3/Google.Apis.Auth.xml
packages/Google.Apis.Auth.1.32.2/lib/net45/Google.Apis.Auth.xml
packages/Google.Apis.Auth.1.32.2/Google.Apis.Auth.1.32.2.nupkg
packages/Google.Apis.1.32.2/lib/netstandard1.3/Google.Apis.xml
packages/Google.Apis.1.32.2/lib/net45/Google.Apis.xml
packages/Google.Apis.1.32.2/Google.Apis.1.32.2.nupkg
packages/System.Security.Cryptography.X509Certificates.4.3.2/ref/xamarinwatchos10/_._
packages/System.Security.Cryptography.X509Certificates.4.3.2/ref/xamarintvos10/_._
packages/System.Security.Cryptography.X509Certificates.4.3.2/ref/xamarinmac20/_._
packages/System.Security.Cryptography.X509Certificates.4.3.2/ref/xamarinios10/_._
packages/System.Security.Cryptography.Encoding.4.3.0/lib/MonoAndroid10/_._
packages/System.Security.Cryptography.Encoding.4.3.0/dotnet_library_license.txt
packages/System.Security.Cryptography.Encoding.4.3.0/ThirdPartyNotices.txt
packages/System.Security.Cryptography.Encoding.4.3.0/System.Security.Cryptography.Encoding.4.3.0.nupkg
packages/System.Security.Cryptography.Algorithms.4.3.1/ref/xamarinwatchos10/_._
packages/System.Security.Cryptography.Algorithms.4.3.1/ref/xamarintvos10/_._
packages/System.Security.Cryptography.Algorithms.4.3.1/ref/xamarinmac20/_._
packages/System.Security.Cryptography.Algorithms.4.3.1/ref/xamarinios10/_._
packages/System.Security.Cryptography.Algorithms.4.3.1/ref/MonoTouch10/_._
packages/System.Net.Http.4.3.3/ref/portable-net45+win8+wpa81/_._
packages/System.Net.Http.4.3.3/System.Net.Http.4.3.3.nupkg
packages/Newtonsoft.Json.11.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/lib/netstandard2.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/lib/netstandard1.3/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.11.0.2/lib/net45/Newtonsoft.Json.xml
packages/System.Security.Cryptography.Primitives.4.3.0/dotnet_library_license.txt
packages/System.Security.Cryptography.Primitives.4.3.0/ThirdPartyNotices.txt
packages/System.Security.Cryptography.Primitives.4.3.0/System.Security.Cryptography.Primitives.4.3.0.nupkg
packages/System.Security.Cryptography.Encoding.4.3.0/ref/xamarinwatchos10/_._
packages/System.Security.Cryptography.Encoding.4.3.0/ref/xamarintvos10/_._
packages/System.Security.Cryptography.Encoding.4.3.0/ref/xamarinmac20/_._
packages/System.Security.Cryptography.Encoding.4.3.0/ref/xamarinios10/_._
packages/System.Security.Cryptography.Encoding.4.3.0/ref/netstandard1.3/zh-hant/System.Security.Cryptography.Encoding.xml
packages/System.Security.Cryptography.Encoding.4.3.0/ref/netstandard1.3/zh-hans/System.Security.Cryptography.Encoding.xml
packages/System.Security.Cryptography.Algorithms.4.3.1/ref/MonoAndroid10/_._
packages/System.Security.Cryptography.Algorithms.4.3.1/lib/xamarinwatchos10/_._
packages/System.Security.Cryptography.Algorithms.4.3.1/lib/xamarintvos10/_._
packages/System.Security.Cryptography.Algorithms.4.3.1/lib/xamarinmac20/_._
packages/System.Security.Cryptography.Algorithms.4.3.1/lib/xamarinios10/_._
packages/System.Security.Cryptography.Algorithms.4.3.1/lib/MonoTouch10/_._
packages/System.Security.Cryptography.Algorithms.4.3.1/lib/MonoAndroid10/_._
packages/System.Security.Cryptography.Algorithms.4.3.1/dotnet_library_license.txt
packages/System.Security.Cryptography.Algorithms.4.3.1/ThirdPartyNotices.txt
packages/System.Security.Cryptography.Algorithms.4.3.1/System.Security.Cryptography.Algorithms.4.3.1.nupkg
packages/System.Net.Http.4.3.3/ref/xamarinwatchos10/_._
packages/System.Net.Http.4.3.3/ref/xamarintvos10/_._
packages/System.Net.Http.4.3.3/ref/xamarinios10/_._
packages/System.Net.Http.4.3.3/ref/wpa81/_._
packages/System.Net.Http.4.3.3/ref/win8/_._
packages/System.Security.Cryptography.Encoding.4.3.0/ref/netstandard1.3/ru/System.Security.Cryptography.Encoding.xml
packages/System.Security.Cryptography.Encoding.4.3.0/ref/netstandard1.3/ko/System.Security.Cryptography.Encoding.xml
packages/System.Security.Cryptography.Encoding.4.3.0/ref/netstandard1.3/ja/System.Security.Cryptography.Encoding.xml
packages/System.Security.Cryptography.Encoding.4.3.0/ref/netstandard1.3/it/System.Security.Cryptography.Encoding.xml
packages/System.Security.Cryptography.Encoding.4.3.0/ref/netstandard1.3/fr/System.Security.Cryptography.Encoding.xml
packages/System.Security.Cryptography.Encoding.4.3.0/ref/netstandard1.3/es/System.Security.Cryptography.Encoding.xml
packages/System.Security.Cryptography.Encoding.4.3.0/ref/netstandard1.3/de/System.Security.Cryptography.Encoding.xml
packages/System.Security.Cryptography.Encoding.4.3.0/ref/netstandard1.3/System.Security.Cryptography.Encoding.xml
packages/System.Security.Cryptography.Encoding.4.3.0/ref/MonoTouch10/_._
packages/System.Security.Cryptography.Encoding.4.3.0/ref/MonoAndroid10/_._
packages/System.Security.Cryptography.Encoding.4.3.0/lib/xamarinwatchos10/_._
packages/System.Security.Cryptography.Encoding.4.3.0/lib/xamarintvos10/_._
packages/System.Security.Cryptography.Encoding.4.3.0/lib/xamarinmac20/_._
packages/System.Security.Cryptography.Encoding.4.3.0/lib/xamarinios10/_._
packages/System.Security.Cryptography.Encoding.4.3.0/lib/MonoTouch10/_._
packages/System.Security.Cryptography.Primitives.4.3.0/ref/MonoAndroid10/_._
packages/System.Security.Cryptography.Primitives.4.3.0/lib/xamarinwatchos10/_._
packages/System.Security.Cryptography.Primitives.4.3.0/lib/xamarintvos10/_._
packages/System.Security.Cryptography.Primitives.4.3.0/lib/xamarinmac20/_._
packages/System.Security.Cryptography.Primitives.4.3.0/lib/xamarinios10/_._
packages/System.Security.Cryptography.Primitives.4.3.0/lib/MonoTouch10/_._
packages/System.Security.Cryptography.Primitives.4.3.0/lib/MonoAndroid10/_._
